PORT=

# This api key is no longer valid, generated a new one on 2026-03-02
# GEMINI_API_KEY=

# new api key generated on 2026-03-07
GEMINI_API_KEY=

# Google Gemini API key from Google Cloud Console
# GEMINI_API_KEY=


# Groq API key
GROQ_API_KEY=
GROQ_MODEL=

# MongoDB connection URI
MONGO_URI=



# Google Cloud api key
GOOGLE_CLOUD_API_KEY=


# JWT secret key
JWT_SECRET=


# ===== EMAIL (OPTIONAL - later use) =====
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=

# ===== SSO Verification ========
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


